body {
    margin-top: 2.5vh;
  }
form {
    margin-bottom: 10px;
  }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 0;
  }
.submitInfo {
    margin: 20px 10px 10px 0;
  }
#predicateTxt {
    text-decoration: underline;
  }
#lblInput label {
    text-align: center;
    margin: 12.5px 0;
  }
#lblInput {
    margin-bottom: 10px;
  }
#lblInput .form-control {
    margin: 0 0 0 10px;
  }
#lblInput select {
    padding: 5px;
  }
#lblInput input {
    padding: 15px;
  }
#lblInput select option {
    text-align: center;
  }
#result{
    padding: 20px;
  }
#result table td, th {
    width: 5%;
  }